.DS_Store
._*

# Python

.python-version
.venv

__pycache__
*.py[cod]
*$py.class
.mypy_cache
.ruff_cache
.vscode

.coverage
.env
.pytest_cache
dev.db
htmlcov
test-reports

# Vitepress

node_modules
.vitepress/cache
.vitepress/dist
.source
.build

html

# Other

cloc.md
